.catUde {
  padding: 0px !important;
  margin: 10px 0px 10px 0px;
}

.search-input {
  display: flex;
}
.search-input input[type="text"] {
  padding: 10px;
  font-size: 0.789rem;
  border: 1px solid grey;
  float: left;
  width: 75%;
  background: #ffffff;
  border: none;
}

.search-input button {
  float: left;
  padding: 10px;
  color: rgb(10, 10, 10);
  font-size: 17px;
  border: 1px solid grey;
  border: none;
  background: #ffffff;
  cursor: pointer;
}

label {
  font-weight: 600;
  font-size: 14px !important;
  display: block;
}

.orders {
  box-shadow: 4px 4px 4px 4px rgba(128, 128, 128, 0.18);
  padding: 10px 20px 10px 10px;
  margin: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 4px;
}

.order-img {
  height: 80px;
  width: 80px;
  margin-right: 10px;
}

.order-img img {
  height: 100%;
  width: 100%;
}

.orders .title {
  flex-grow: 1;
}

.orders .rating-star svg {
  font-size: 0.243rem;
  height: 20px !important;
  /* display: none; */
}

.orders .price {
  align-items: end;
  display: flex;
  flex-direction: column;
}

/* Address */

.addBtn {
  border: 1px solid #e8e8e8;
  padding: 20px;
}

/* mobile dashbord tabs */
.dashboard_mobile_tab_button .item {
  border: 1px solid #e8e8e8;
  /* border-bottom: none; */
  color: #212121;
  font-weight: 500;
  font-size: 15px;
  display: block;
  padding: 18px 15px;
  margin-bottom: 16px;
  text-transform: uppercase;
  text-align: center;
}

.dashboard_mobile_tab_button li a:last-child {
  border-bottom: 1px solid #e8e8e8;
}

.dashboard_mobile_tab_button li a i {
  font-size: 14px;
  text-align: center;
  width: 25px;
}

.dashboard_mobile_tab_button li a.active,
.dashboard_mobile_tab_button li a:hover {
  background-color: var(--main-theme-color);
  border-color: var(--main-theme-color);
  color: #fff;
}

/* Dropdown menu */

.dropdownBtn nav > ul > li > a {
  display: block;
  line-height: 14px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.dropdownBtn i {
  font-size: large;
}

.dropdownBtn .active {
  color: var(--main-theme-color) !important;
}

.dropdownBtn nav > ul > li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: perspective(600px) rotateX(0deg);
}

.dropdownBtn {
  position: relative;
  width: 60%;
}

.dropdownBtn nav > ul > li {
  position: relative;
  display: inline-block;
  /* padding-left: 183px; */
}

.dropdownBtn nav > ul > .has-dropdown {
  margin-right: 5px;
}

.dropdownBtn nav > ul > .has-dropdown:last-child {
  margin-right: 0;
}

.sub-menu > li > a,
.mega-menu-sub > li > a {
  font-weight: 500;
  display: block;
  line-height: 35px;
  text-transform: capitalize;
  color: #777;
  position: relative;
  transition: all 0.5s ease;
}

.sub-menu > li > a:hover,
.mega-menu-sub > li > a:hover {
  transform: translateX(10px);
}

.main-menu .active {
  color: var(--main-theme-color) !important;
}

.sub-menu {
  position: absolute;
  min-width: 130px;
  padding: 10px 10px;
  background: #fff;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0 0 0;
  left: -100px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 99;
  top: 100%;
  text-align: left;
  font-size: 0.778rem;
}

.product_wrappers_one .content span .new del {
  font-size: 0.95rem;
  color: var(--main-theme-color);
}

.mobile-view {
  display: none;
}

/* Smartphones (portrait) ==================================== */
@media only screen and (max-width: 420px) {
  .larg-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }
  .orders p {
    font-size: var(--mobile-font);
    max-width: 100%;
  }

  .orders .rating-star svg {
    font-size: 0.243rem;
    height: 10px !important;
    display: none;
  }
  .orders .price p,
  span {
    font-size: 0.6rem;
  }

  .desktop-hide {
    display: none !important ;
  }

  .tabs_center_button .nav-tabs li a {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
  }

  #hot_Product_area .nav-tabs li:nth-child(n + 3) {
    display: none;
  }

  .product_wrappers_one .content .brand {
    font-size: 10px;
  }

  .product_wrappers_one .content .title a {
    font-size: 12px;
  }

  .product_wrappers_one .content span .new {
    font-size: 0.987rem;
  }

  .product_wrappers_one .thumb .badges span {
    font-size: 8px;
    padding: 0 6px;
    line-height: 18px;
  }

  .product_wrappers_one .thumb .actions .action {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }

  #product_count_form_two input {
    width: 40%;
  }

  #description .product_description p {
    font-size: 0.85rem;
  }

  #description .product_description ul {
    padding-left: 20px;
    font-size: 0.85rem;
  }

  .center_heading h2 {
    font-size: 1.2rem;
  }

  .mobile-title {
    font-size: 0.85rem !important;
  }

  .best-seller > .heading {
    font-size: 1.2rem;
  }
}

/* Smartphones (portrait) End ==================================== */

/* iPads (portrait and landscape)  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* Desktops and laptops  */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .orders {
    max-width: 80%;
  }
  .mobile-hide {
    display: none !important;
  }
}
